{% extends "account/base.html" %}
{% load static %}
{% block content %}
<main>
<div class="container">
      <section class="mt-4 pt-2">
        <div class="row wow fadeIn">
            <div class="card m-1 mx-auto p-4">
                <h4>Are you sure you want to log out?</h4>
                <a type="button" class="btn btn-warning mx-auto" style="width:100px;" href="{% url 'accounts:account_signout_confirm' %}">Log out</a>
            </div>
        </div>
      </section>
</div>
</main>
{% endblock content %}

