{% extends "base.html" %}
{% load static %}
{% block content %}

<main>
    <div class="container">
        <div class="row ">
            <div class="card mx-auto mt-4 p-4">
                Are You Sure want to complete delivery process?
                <div class="text-center mx-auto">
                    <a href="{% url 'adminapp:complete_delivery' pk=xyz %}" class="btn btn-primary deliveries" tabindex="-1" role="button">Yes Complete</a>
                    <a href="{% url 'adminapp:delivery_response' %}" class="btn btn-primary deliveries" tabindex="-1" role="button">No...! back to Manage Order</a>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}