{% extends "base.html" %}
{% block content %}
<main>
    <div class="container">
        <div class="row">
            <div class="card mx-auto">
                <div class="card-header">
                    Conditions Relating to Your Use of BIBZ
                </div>
                <h5 class="card-title p-1">1. Your Account  </h5>
                <p class="p-2">If you use the website, you are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer to prevent unauthorised access to your account.
                    You agree to accept responsibility for all activities that occur under your account or password.
                    You should take all necessary steps to ensure that the password is kept confidential and secure and should inform us immediately if you have any reason to believe that your password has become known to anyone else, or if the password is being, or is likely to be, used in an unauthorised manner.
                    Please ensure that the details you provide us with are correct and complete and inform us immediately of any changes to the information that you provided when registering.
                    You can access and update much of the information you provided us with in the Your Account area of the website.
                    You agree and acknowledge that you will use your account on the website to purchase products only for your personal use and not for business purposes.
                    BIBZ.com reserves the right to refuse access to the website, terminate accounts, remove or edit content at any time without notice to you
                </p>
                <h5 class="card-title p-1">2. Disclaimer  </h5>
                <p class="p-2">You acknowledge and undertake that you are accessing the services on the website and transacting at your own risk and are using your best and prudent judgment before entering into any transactions through the website.
                    You further acknowledge and undertake that you will use the website to order products only for your personal use and not for business purposes.
                </p>
                <h5 class="card-title p-1">3. Communications  </h5>
                <p class="p-2">
                    When you visit Amazon.in, you are communicating with us electronically. You will be required to provide a valid phone number while placing an order with us.
                    We may communicate with you by e-mail, SMS, phone call or by posting notices on the website or by any other mode of communication.
                    For contractual purposes, you consent to receive communications (including transactional, promotional and/or commercial messages), from us with respect to your use of the website and/or your order placed on the website.
                </p>
                <h5 class="card-title p-1">3. Alteration of Service or Amendements to the Conditions  </h5>
                <p class="p-2">We reserve the right to make changes to our website, policies, and these Conditions of Use at any time.
                    You will be subject to the policies and Conditions of Use in force at the time that you use the website or that you order goods from us, unless any change to those policies or these conditions is required to be made by law or government authority (in which case it will apply to orders previously placed by you).
                    If any of these conditions is deemed invalid, void, or for any reason unenforceable, that condition will be deemed severable and will not affect the validity and enforceability of any remaining condition.
                </p>

            </div>
        </div>
    </div>
</main>

{% endblock content %}